@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@if (Logueado == "false")
{
    <PageTitle>Iniciar Session</PageTitle>
    <div class="modal d-block">

        <div style="width: 35rem; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);">

            <div class="modal-content">
                <div class="modal-header bg-primary text-center text-white">
                    <h3>Iniciar Session</h3>
                </div>

                <div class="modal-content">
                    <div class="modal-body">
                        <label class="fw-bold">Usuario</label>
                        <input class="form-control" @bind="user" />

                        <label class="fw-bold">Contraseña</label>
                        <input class="form-control" @bind="pass" />

                        <div class="row text-danger d-@mensaje">
                            <label class="fw-bold">Usuario o contraseña Incorrecta</label>
                        </div>
                    </div>                   
                </div>

                <div class="modal-footer">
                    <div class="row text-end">
                        <button class="btn btn-success" @onclick="Acceder">Acceder</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

}

@if (Logueado == "true")
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <button @onclick="CerrarSession">Cerrar Sesion</button>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
}





@code {

    private string user = "", pass = "", mensaje = "none";
    private string usuarioCorrecto = "admin", contrasenaCorrecta = "12345";

    private string Logueado = "";

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            string logueado = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "Logueado");
            if (string.IsNullOrEmpty(logueado))
            {
                await JSRuntime.InvokeVoidAsync("localStorage.setItem", "Logueado", "true");
            }
            else
            {
                Logueado = logueado;
            }
            StateHasChanged();
        }
    }


    public async Task Acceder()
    {

        if(user == usuarioCorrecto && pass == contrasenaCorrecta)
        {
            mensaje = "none"; user = ""; pass = "";

            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "Logueado", "true");
            Logueado = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "Logueado");
            StateHasChanged();
        }
        else
        {
            mensaje = "block";
        }
    }
        

    public async Task CerrarSession()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "Logueado", "false");
        Logueado = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "Logueado");
        StateHasChanged();
    }
}